<%- include('partials/header.ejs') %>

    <h1>Welcome to Earth</h1>
    <img src="/img/earth.jpg" alt="Earth" />
    
    <p id="earth">Earth is the third planet in order from the sun, and is the only planet with both liquid water and life. Our planets thick nitrogen and oxygen based 
    atmosphere acts as a protection against meteorites, which break up in the atmosphere due to friction. Our planet is also the fifth largest in the system, and is the 
    largest of the four planets closest to the sun. The earths molten iron and nickel core causes a magnetic field, which causes compass needles to point of the 
    poles, and interacts with solar winds to cause the auroras.</p>
    
    <a href="/mercury">Mercury</a> <br>
    <a href="/venus">Venus</a> <br>
    <a href="/">Home</a> <br>
    <a href="/neptune">Neptune</a> <br>
    <a href="/jupiter">Jupiter</a> <br>
    
<%- include('partials/footer.ejs') %>