<%- include('partials/header.ejs') %>

    <h1>Welcome to Jupiter</h1>
    <img src="/img/jupiter.jpg" alt="Jupiter" />
    
    <p id="jupiter">This is the largest planet in our solar system. It is the fifth planet in order from the sun, and is a massive gas giant, 
    which might have a solid core. The planet takes only ten hours to rotate once, but takes twelve years to orbit the sun. The atmosphere is 
    mostly hydrogen and helium, and the planet has a massive storm on the surface that has continued for centuries, and has a system of rings, though they are 
    very faint.</p>
    
    <a href="/mercury">Mercury</a> <br>
    <a href="/venus">Venus</a> <br>
    <a href="/earth">Earth</a> <br>
    <a href="/neptune">Neptune</a> <br>
    <a href="/">Home</a> <br>
    
<%- include('partials/footer.ejs') %>