<%- include('partials/header.ejs') %>

    <h1>Welcome to mercury</h1>
    <img src="/img/mercury.png" alt="Mercury" />
    
    <p id="merc">This is the closest planet in our solar system to the sun, and is also the smallest. Mercury takes fifty-nine earth days to complete a 
    rotation, but takes only 88 earth days to orbit once around the sun. The planet has no rings and no moons, and has an extremely thin atmosphere, 
    making it inhospitable to all known forms of life.</p>
    
    <a href="/">Home</a> <br>
    <a href="/venus">Venus</a> <br>
    <a href="/earth">Earth</a> <br>
    <a href="/neptune">Neptune</a> <br>
    <a href="/jupiter">Jupiter</a> <br>
    
<%- include('partials/footer.ejs') %>