<%- include('partials/header.ejs') %>

    <h1>Welcome to neptune</h1>
    <img src="/img/neptune.jpg" alt="Neptune" />
    
    <p id="nept">Neptune is the eighth planet from the sun, and is 2.8 billion miles away from the sun. The planet takes 16 earth days to rotate, 
    and 165 earth days to orbit the sun. It has 14 moons, and does have a system of rings, additionally, while the planets atmosphere is made of gases, 
    the planet does have a rocky core. It is also the planet with the highest wind speeds, with speeds five times higher than the fastest winds on earth.</p>
    
    <a href="/mercury">Mercury</a> <br>
    <a href="/venus">Venus</a> <br>
    <a href="/earth">Earth</a> <br>
    <a href="/">Home</a> <br>
    <a href="/jupiter">Jupiter</a> <br>
    
<%- include('partials/footer.ejs') %>