body {
    background-color: lightgray;
    text-align: center;
}

#merc {
    font-size: larger;
    color: yellow;
}

#jupiter {
    font-size: larger;
    color: orange;
}

#nept {
    font-size: larger;
    color: blue;
}

#earth {
    font-size: larger;
    color: green;
}

#venu {
    font-size: larger;
    color: red;
}